.navbar {
  height: 58px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  background-color: #111;
  color: #555;
  width: 100%;
  z-index: 10;

  .wrapper {
    width: 100%;
    padding: 20px;
  }
}
