.datatable {
  height: 500px;
  padding: 5px;
  width: 800px;

  .datagrid {
    color: gray;
  }

  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
  }
}

